<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiprotich.japheth.update">

    <application>
        <activity
            android:name=".CheckUpdate"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>